################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Web/FileContentIndex
.vs/Web/CopilotIndices/17.14.1347.20289/CodeChunks.db
/.vs
/Classes
/Database
/Web/obj
