<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Baseurl" value="https://app.erp53.com/" />
    <add key="bearerToken" value="5vLGpxfO4_FktAkPB0iM--FQh18USYEG7LWWUCbITpGioOZ16QRxe0JuoryqhMHArMcv-lBleaddcJPG3bsj3m94qOke3uq3mXDtvPUZHFkqm9_3Eub7MYlVCudtd8i_qxnFYQFVV8OTNfQ4w01vDjwBvJI2zVUXl8M-A9YfH09sPslbJKyZUBZBNcAqjSOzeIneaNVPH0WWcBP9xx_GvsvISNLWAM1KWlSia5Kb7Glj2ufmdZwl_XE5h1C_0guL5AkJniyLK1cCFjOXH7dgjJA6vjwgc0ol488TyWPWA19sOzsdPrnuzr724-BK3Z84" />
    <add key="ChartImageHandler" value="storage=file;timeout=200000;dir=c:\TempImageFiles\;" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <connectionStrings>
	  <add name="CallEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COMPLAINTEST\SQLEXPRESS;connect timeout=500;initial catalog=digita93_Senegal;user id=sa;password=Complaint@rhh!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="SqlCom" connectionString="Data Source=COMPLAINTEST\SQLEXPRESS;connect timeout=500;initial catalog=digita93_Senegal;Persist Security Info=True;user id=sa;password=Complaint@rhh!" providerName="System.Data.SqlClient"/>
	  <add name="CRMNewEntitiesNew" connectionString="Data Source=COMPLAINTEST\SQLEXPRESS;connect timeout=500;initial catalog=digita93_Senegal;Persist Security Info=True;user id=sa;password=Complaint@rhh!" providerName="System.Data.SqlClient"/>
	  <add name="conStr" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COMPLAINTEST\SQLEXPRESS;connect timeout=500;initial catalog=digita93_Senegal;user id=sa;password=Complaint@rhh!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="NewFastRaceConnectionString" connectionString="Data Source=COMPLAINTEST\SQLEXPRESS;connect timeout=500;initial catalog=digita93_Senegal;Persist Security Info=True;user id=sa;password=Complaint@rhh!" providerName="System.Data.SqlClient"/>
 </connectionStrings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

  <system.web>
 <customErrors mode="Off" />
    <compilation targetFramework="4.5" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="28800" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <httpRuntime maxRequestLength="50000000" executionTimeout="360000" requestValidationMode="2.0" />
    <pages validateRequest="false">
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <add value="acm/login.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>